#captionBoxContainer {
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  text-align: left;
  height: 65px;
  width: 40%;
  overflow: hidden;
  display: inline-block;
  transition: all 1s;
}

.language-container {
  padding: 0.4rem;
}

.defaultCaptionBg {
  background-color: #A9A9A9;
}

.content-container {
  padding: 0.1em;
  transition: all 1s;
}

#textSpan {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  height: auto;
  overflow: hidden;
  font-size: 1em;
  letter-spacing: 0.7px;
}

.defaultTextBox {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-family: Arial, sans-serif;
}


.specialFontTextBox {
  background-color: white;
  font-family: monospace;
  color: rgba(0, 0, 0, 0.9);
}

.horizonatal-line-container {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.horizontal-line {
  width: 40%;
  height: 1px;
  background-color: grey;
  margin: auto;
}

.best-settings-btn {
  outline: none;
  border: none;
  padding: 2px 7px;
  width: 6.5rem;
  background-color: black;
}

.best-settings-btn:hover {
  background-color: #0D6EFD !important;
  color: white !important;
}

.standard-btn {
  color: white;
  background-color: black;
}

.yellow-btn {
  color: #ffd700;
  background-color: black;
}

.monospace-btn {
  font-family: monospace;
  color: white;
  background-color: black;
}

.smooth-btn {
  color: white;
  background-color: black;
}

.lock-image {
  width: 100%;
  cursor: pointer;
}

.lock-image-container {
  float: right;
  width: 30px;
  padding: 2px;
  border-radius: 50%;
  transition: all .5s;
}

.lock-image-container:hover {
  border: 1px solid #0D6EFD;
}

#best-settings-content {
  height: 9rem;
  transition: all 1s;
  overflow: hidden;
}


#advance-settings-content {
  transition: all 1s;
  overflow: hidden;
  height: 0rem;
}

@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
