.subs {
  background-color: black;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  text-align: left;
  height: 200px;
  overflow-y: scroll;
}

td {
  padding-left: 1em;
  padding-right: 1em;
}

#table {
  width: 100%;
  margin: auto;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  width: 88%;
}

.container {
  margin-top: 3em;
}

.inner-form {
  width: 13em;
}

#targetLanguage {
  padding-bottom: 8px;
  margin-right: 1em;
  padding-right: 10px;
}

.Code-id-style {
  margin-bottom: 2em;
}

#sessionId {
  padding-bottom: 8px;
  margin-right: 1em;
  padding-right: 10px;
}

.input-style {
  width: 5rem;
  padding: 0.6rem;
}

.fa {
  font-size: 24px;
}

.segment-style {
  background-color: rgb(247, 202, 201);
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1010px) {
  .container {
    width: 88%;
    max-width: 800px;
    margin-top: 5em;
  }

  .sts {
    display: none;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .container {
    width: 88%;
    margin-top: 5em;
  }
  .navbar-brand {
    font-size: 4em;
  }
  .btn-lg-style {
    margin: auto;
    padding: 0.5rem 1.5rem;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
  .fa {
    font-size: 36px;
  }
  .navbar-toggler {
    padding: 0.75rem 1.5rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
  .container-fluid-style {
    height: 9rem;
  }
  .header-text-style {
    font-size: 3rem !important;
  }
  .label-style {
    font-size: 2.5rem;
  }
  .modal-dialog {
    max-width: 800px;
    margin: 6.75rem auto;
  }
  .form-control-lg {
    min-height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem rem 1rem;
    font-size: 3rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
  }
  .segment-style {
    background-color: rgb(247, 202, 201);
    font-size: 2em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 88%;
    margin-top: 5em;
  }
  .navbar-brand {
    font-size: 4em;
  }
  .btn-lg-style {
    padding: 0.5rem 1.5rem;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
  .fa {
    font-size: 47px;
  }
  .navbar-toggler {
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 0.5rem;
  }
  .container-fluid-style {
    height: 9rem;
  }
  .header-text-style {
    font-size: 3rem !important;
  }
  .label-style {
    font-size: 2.5rem;
  }
  .modal-dialog {
    max-width: 800px;
    margin: 6.75rem auto;
  }
  .form-control-lg {
    min-height: calc(2.5em + 2rem + 4px);
    padding: 0.5rem rem 1rem;
    font-size: 3rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
  }
  .segment-style {
    background-color: rgb(247, 202, 201);
    font-size: 2.5em;
  }
}
