<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/microsoft-cognitiveservices-speech-sdk@latest/distrib/browser/microsoft.cognitiveservices.speech.sdk.bundle-min.js"></script>

  <script type=text/javascript src="{{ url_for('static', filename='js/receiver.js') }}"></script>

  <style>
    .subs {
      background-color: black;
      color: white;
      border: 2px solid black;
      margin: 20px;
      padding: 20px;
      font-size: 20px;
      text-align: left;
      height:200px;
      overflow-y: scroll;
    }
    @media (min-width: 768px) {
      .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
      }
    }

  </style>

</head>

<body onload="intialize()">

  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md fixed-top  bg-light">
      <div class="container-fluid">
        <div class="float-md-start fw-bold fs-5">KUDO Speech-to-Speech  
               
          &nbsp;&nbsp;&nbsp;
          <label for="sessionId">Session ID </label>
          <input id="sessionId">
        </div>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
          </ul>    
  
          &nbsp;                    
                  <select id="targetLanguage"  class="btn btn-light btn-sm mr-1">
                      {% for language in languages %}
                           <option value="{{ language }}">{{ language }}</option>                
                      {% endfor %} 
                  </select>   
                       
                  &nbsp;&nbsp;&nbsp; 
                        
          
          &nbsp;&nbsp; 
          
          <div class="btn-group" role="group" aria-label="Commands">
            <button class="btn btn-warning" type="button" id="recordButton" onclick="connnect()"><i class="bi bi-record-circle" style="margin-right: 0.5em;"></i>Connect</button>
          </div>
        
        </div>
      </div>
    </nav>
  </header>

  <main class="flex-shrink-0">

    <div class="container" style="padding-top: 5em;">
        <div id="ASR" class="subs"></div>
    </div>
               
    <!-- MAIN RESULTS -->
    
    <div class="container-sm">
      <div class="row"></div>
      <div class="row">
        <table id="tableLog">
          <tr>
            <th>Translation</th>
          </tr>
        </table> 
      </div>
    </div>
 
</main>



</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
<script>
  var socket = io();

  let row_color='#F7CAC9'

  socket.on("caption",(data)=>{
        let asr = data.asr
        let segment = data.segment

        //var e = document.getElementById("targetLanguage");
        //var targetLanguage = e.value;
            
        console.log("Received ASR: " + asr);
        console.log("Received SEGMENT: " + segment);

        if (typeof segment !== 'undefined') {
          let obj = JSON.parse(segment);

          //languages should be dynamical
          let text_sl = (obj.en)
          let text_tl = (obj.es)
          
          speak(text_tl, 'es')

          document.getElementById("translation").innerHTML = text_tl;

          //adding log
          var table = document.getElementById("tableLog");

          // Create an empty <tr> element and add it to the 1st position of the table:
          var row = table.insertRow(-1);
          row.style.backgroundColor = row_color; 
          
          // alternating row colors
          if (row_color === '#F7CAC9') {
            row_color = '#92A8D1'
          }else{
            row_color='#F7CAC9'
          }
          // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
          var cell1 = row.insertCell(0);

          // Add some text to the new cells:
          cell1.innerHTML = text_tl;
        }
    })

  socket.on('connected', function () {
    console.log("connect");
  });
  socket.on("status", (status) => {
    console.log("received status: " + status.data);
  });

  let connection_status = 'disconnected';
  let sessionCode = '';

  function connnect() {
    if (connection_status === 'disconnected') {
      sessionCode = document.getElementById("sessionId").value;

      if ( sessionCode === '' ){
        alert("Please, first insert the Session ID to connect to your session!");
        return;
      }
      console.log("ask server to join room: " + sessionCode);
      socket.emit("join", { "user": Date.now(), "room": sessionCode, "targetLanguage": "" });
      document.getElementById("recordButton").className = "btn btn-danger";
      document.getElementById("recordButton").innerHTML = "Disconnect";
      initializeService('es-ES');//Language should be read by drop-down button
      connection_status = 'connected';

    }
    else {
      console.log("ask server to leave room: " + sessionCode);
      socket.emit("leave", { "user": Date.now(), "room": sessionCode });
      document.getElementById("recordButton").className = "btn btn-warning";
      document.getElementById("recordButton").innerHTML = "Connect";
      connection_status = 'disconnected';
    }
  }
</script>

</html>