<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/receiver.css') }}">
  <script
    src="https://cdn.jsdelivr.net/npm/microsoft-cognitiveservices-speech-sdk@latest/distrib/browser/microsoft.cognitiveservices.speech.sdk.bundle-min.js"></script>

  <script type=text/javascript src="{{ url_for('static', filename='js/receiver.js') }}"></script>

  
</head>

<body onload="intialize()">

  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid container-fluid-style">
        <div class="d-flex flex-row">
          <a class="navbar-brand" href="#">KUDO <span class="sts">Speech-to-Speech</span></a>
          <div class="btn-group" role="group" aria-label="Commands">
            <button class="btn btn-warning btn-lg btn-lg-style" type="button" id="recordButton" onclick="connnect()"><i class="fa fa-dot-circle-o"></i> Connect</button>
          </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item mx-lg-1 my-sm-3">
              <label for="sessionId" class="form-label h6 label-style">Session ID: </label>
              <button type="button" id="sessionId" class="btn btn-outline-info btn-lg btn-lg-style mx-sm-1" disabled>N\A</button>
            </li>
            <li class="nav-item mx-lg-1 my-sm-3">
              <label for="exampleInputEmail1" class="form-label h6 label-style">Language: </label>
              <button type="button" id="targetLanguage" disabled class="btn btn-outline-info btn-lg btn-lg-style mx-sm-1">N\A</button>
            </li>
            <li class="nav-item mx-lg-1 my-sm-3">
              <button type="button" class="btn btn-info btn-lg btn-lg-style" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Configuration
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>

  <main class="flex-shrink-0">
    
    <div class="container">
        <table id="table">
          <thead>
          <tr>
            <th scope="col" class="fs-3 text-center header-text-style">Translation</th>
          </tr>
        </thead>
        </table> 
      </div>
    </div>
 
  </main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title label-style" id="exampleModalLabel">Configuration</h5>
        <button type="button" class="btn-close btn-lg-style" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input class="form-control form-control-lg Code-id-style" id="code-id" type="text" placeholder="Enter CODE ID">
        <select class="form-control form-control-lg" id="selected-lang">
          {% for language in languages %}
              <option value="{{ language }}">{{language}}</option>                
          {% endfor %}
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg-style" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-lg-style" data-bs-dismiss="modal" onclick="getConfig()">OK</button>
      </div>
    </div>
  </div>
</div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
<script>
  var socket = io();

  let row_color='#F7CAC9'

  socket.on("caption",(data)=>{
        let asr = data.asr
        let segment = data.segment
        let voiceSpeed = data.voiceSpeed

        let e = document.getElementById("targetLanguage");
        let targetLanguage = e.value; 
            
        console.log("Received ASR: " + asr);
        console.log("Received SEGMENT: " + segment);
        console.log("TRANSLATION IN: " + targetLanguage);

        if (typeof segment !== 'undefined') {
          let obj = JSON.parse(segment);

          let text_sl = (obj.en)
          let text_tl = obj[targetLanguage]

          speak(text_tl, targetLanguage, voiceSpeed)

          //adding log
          var table = document.getElementById("table");

          // Create an empty <tr> element and add it to the 1st position of the table:
          var row = table.insertRow(-1);
          row.style.backgroundColor = row_color; 
          row.style.fontSize = "1.5em";
          
          // alternating row colors
          if (row_color === '#F7CAC9') {
            row_color = '#92A8D1'
          }else{
            row_color='#F7CAC9'
          }
          // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
          var cell1 = row.insertCell(0);

          // Add some text to the new cells:
          cell1.innerHTML = text_tl;

          let elem = document.getElementById("table");
          elem.scrollTop = elem.scrollHeight;
        }
    })

  socket.on('connected', function () {
    console.log("connect");
  });

  socket.on("status", (status) => {
    console.log("received status: " + status.data);
  });

  let connection_status = 'disconnected';
  let sessionCode = '';

  function connnect() {
    if (connection_status === 'disconnected') {
      var sessionCode = document.getElementById("sessionId").value;
      console.log(sessionCode);

      if ( sessionCode === '' ){
        alert("Please, first insert the Session ID to connect to your session!");
        return;
      }
      console.log("ask server to join room: " + sessionCode);
      socket.emit("join", { "user": Date.now(), "room": sessionCode, "targetLanguage": "" });
      document.getElementById("recordButton").className = "btn btn-danger btn-lg btn-lg-style";
      document.getElementById("recordButton").innerHTML = "Disconnect";
      initializeService('es-ES');//Language should be read by drop-down button
      connection_status = 'connected';

    }
    else {
      console.log("ask server to leave room: " + sessionCode);
      socket.emit("leave", { "user": Date.now(), "room": sessionCode });
      document.getElementById("recordButton").className = "btn btn-warning";
      document.getElementById("recordButton").innerHTML = " Connect";
      connection_status = 'disconnected';
      if (connection_status == 'disconnected') {
        let connectButton = document.getElementById("recordButton")
        connectButton.setAttribute("class", "btn btn-warning btn-lg btn-lg-style")
        let iTag = document.createElement("i");
        iTag.setAttribute("class", "fa fa-dot-circle-o");
        connectButton.prepend(iTag)
      }
    }
  }
</script>

</html>